[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = CISC191: Intermediate Java Programming
[access "refs/*"]
	owner = group user/ahuang-cs
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ahuang-cs
	label-Verified = -1..+1 group user/ahuang-cs
	push = group user/ahuang-cs
	read = group user/ahuang-cs
	rebase = group user/ahuang-cs
	removeReviewer = group user/ahuang-cs
	submit = group user/ahuang-cs
[access "refs/heads/*"]
	create = group user/ahuang-cs
	push = +force group user/ahuang-cs
	pushMerge = group user/ahuang-cs
	read = group user/ahuang-cs
[access "refs/tags/*"]
	push = group user/ahuang-cs
	push = +force group user/ahuang-cs
