<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <activeProfiles>
    <activeProfile>cisc191</activeProfile>
  </activeProfiles>

  <profiles>
    <profile>
      <id>cisc191</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>false</enabled></snapshots>
        </repository>
        <repository>
          <id>cisc191</id>
          <name>CISC191 Maven Repo</name>
          <url>https://maven.pkg.github.com/ahuang-cs/CISC191</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>cisc191</id>
      <username>$HEASLEYKR</username>
      <password>$f1ebba0cc4a390e4c374d0d23f5560625099b24d</password>
    </server>
  </servers>
</settings>
